{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>

	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>

	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Powertools</h1>
		</div>
	</div>

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}         
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}
	</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newPowertool')}}">
				<button class="btn btn-default" id="new-powertools">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Add New Powertools Brand
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for powertool in powertools %}
		<a href = "{{url_for('showPowertoolItem', powertool_id = powertool.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 powertool-list">
						<h3>{{powertool.brand}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
		
	{% endfor %}
{% endblock %}
